<!-- your html code here -->
<!-- Emiliano Ferreira -->

<div class="mx-auto justify-content-center">
    <h1 class="">Portfolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatem totam fugiat, eum, perspiciatis
        architecto laboriosam iste officia consequatur id officiis? Cum doloribus inventore sequi cumque voluptates
        eveniet quam modi.</p>
    <div class="row mx-auto justify-content-center" id="portfolio_cards">
        <div class="card me-3 ps-0" style="width: 25rem; border: none">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ps-0 pe-0 ms-0 me-0">
                <h4 style="color: #2074c3;">Proyecto 1</h4>
                <p class="card-text ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. At alias dolor, recusandae molestiae quia aspernatur obcaecati consectetur.</p>
            </div>
        </div>
        <div class="card me-3 ps-0" style="width: 25rem; border: none">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ps-0 pe-0 ms-0 me-0">
                <h4 style="color: #2074c3;">Proyecto 1</h4>
                <p class="card-text ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. At alias dolor, recusandae molestiae quia aspernatur obcaecati consectetur.</p>
            </div>
        </div>
        <div class="card me-3 ps-0" style="width: 25rem; border: none">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ps-0 pe-0 ms-0 me-0">
                <h4 style="color: #2074c3;">Proyecto 1</h4>
                <p class="card-text ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. At alias dolor, recusandae molestiae quia aspernatur obcaecati consectetur.</p>
            </div>
        </div>
        
    </div>
</div>